{% load static %}

<h2 style="font-size:18px;color:#5dc2aa; padding: 10px 0;">
    Message subject: {{subject}}
</h2>

<p style="font-size: 14px;">
    Message: {{message}}
</p>


<ul style="font-size: 14px; list-style-type: none; padding: 10px 5px; border-bottom: 1px solid #c5c5c5; border-top: 1px solid #c5c5c5;">
    <li style="font-size: 16px; color:#5dc2aa;">Client Info</li>
    <li>Email: {{email}}</li>
    <li>F.Name: {{fname}}</li>
    <li>L.Name: {{lname}}</li>
    <li>Tel: {{tel}}</li>
</ul>

<a href="b2b.labrilliante.com/filter/" style="font-size: 16px; margin-top: 40px; color: #5dc2aa !important; text-decoration: none;">Go to the b2b.Labrilliante.com</a>