{% load static %}

<h2 style="font-size:22px;color:#5dc2aa">New user was created</h2>

<h2 style="font-size: 18px; color: #5dc2aa; margin: 20px 0 5px 0;">User Details</h2>

<ul style="margin: 10px 0; padding: 20px 10px; border-bottom: 1px solid #3c3f3f57; border-top: 1px solid #3c3f3f57;">
    <li style="margin-top:10px;">Email: <span>{{email}}</span></li>
    <li style="margin-top:10px;">Tel: <span>{{tel}}</span></li>
</ul>

<a href="b2b.labrilliante.com/filter/" style="font-size: 16px; margin-top: 50px; color: #5dc2aa !important; text-decoration: none;">Go to the b2b.Labrilliante.com</a>